.idea/

tmp-kind-hack-scripts/

/.local

# Ignore any build artifacts
*.tar

# macOS
.DS_Store

# Local tooling/runtime artifacts
/.devbox/
/.docs-deploy/
/.local/

# Node.js
node_modules/

# Misc logs
npm-debug.log*
