name: Manifest validation
on:
  pull_request:
    types: [opened, reopened, synchronize, labeled]

  push:
    branches:
      - 'main'
      - 'v*'

jobs:
  manifest-validation:
    name: Manifest validation
    runs-on:
      - self-hosted-ncn-docker-medium
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install NIX
        uses: cachix/install-nix-action@v31

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.13.0
        with:
          enable-cache: true
          skip-nix-installation: true

      - name: Run tests
        run: devbox run -- "GOOS=linux GOARCH=amd64 just validate-manifests"

  test-publish-oci-artifacts:
    uses: ./.github/workflows/publish-oci-artifacts.yaml
    with:
      COLLECTION_TAG: '2.16'
      CONSTRAINT: nkpVersion=2.16
