name: Publish OCI Artifacts

on:
  workflow_dispatch:
    inputs:
      COLLECTION_TAG:
        description: "Tag for the collection of artifacts"
        required: true
        type: string
      ARTIFACT_APPS:
        description: "Apps to bundle (name=version). Can be a comma-separated list."
        required: false
        type: string

jobs:
  publish-oci-artifacts:
    name: Publish OCI Artifacts
    runs-on:
      - self-hosted-ncn-docker-medium
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install NIX
        uses: cachix/install-nix-action@v31

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.13.0
        with:
          enable-cache: true
          skip-nix-installation: true

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create and publish artifacts
        run: devbox run -- just publish-artifacts ghcr.io/nutanix-cloud-native ${{ inputs.COLLECTION_TAG }} "${{ inputs.ARTIFACT_APPS }}"
