name: Blackduck scanning

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: write

jobs:
  blackduck:
    runs-on: self-hosted-ncn-docker-medium

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: apptests/go.mod

      - name: Set up Java 11
        uses: actions/setup-java@v4
        with:
          java-version: "11"
          distribution: "adopt"

      - name: Go cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Build Go project
        run: |
          cd apptests
          go mod tidy
          go build ./...

      - name: Black Duck Full Scan
        if: ${{ github.event_name == 'push' }}
        uses: blackduck-inc/black-duck-security-scan@v2.3.0
        env:
          DETECT_SOURCE_PATH: .
        with:
          blackducksca_url: ${{ secrets.BLACKDUCK_URL }}
          blackducksca_token: ${{ secrets.BLACKDUCK_API_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          blackducksca_scan_full: true
          blackducksca_scan_failure_severities: "BLOCKER,CRITICAL"

      - name: Black Duck PR Scan
        if: ${{ github.event_name == 'pull_request' }}
        uses: blackduck-inc/black-duck-security-scan@v2.3.0
        env:
          DETECT_PROJECT_VERSION_NAME: ${{ github.base_ref }}
          DETECT_SOURCE_PATH: .
        with:
          blackducksca_url: ${{ secrets.BLACKDUCK_URL }}
          blackducksca_token: ${{ secrets.BLACKDUCK_API_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          blackducksca_scan_full: true
          blackducksca_scan_failure_severities: ""
          blackducksca_prComment_enabled: true
